{% extends 'base.html' %}
{% block content %}

<h1 id="tlt">{{majors.name}}</h1>

<form id="form" method="post">
    {% csrf_token %}
    <label id="lbfname" for="fname" style="margin-left:5%">First name:</label>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname" style="margin-left:5%">Last name:</label>
    <input type="text" id="lname" name="lname"><br>
    <label for="studentid" style="margin-left:5%">Student ID:</label>
    <input type="text" id="studentid" name="studentid"><br>
    <br>
    <table>
        <tr>
            <th>Status</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Hours</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{course.course.c_ID}}</td>
            <td>{{course.course.c_name}}</td>
            <td>{{course.course.hours}}</td>

        </tr>
        {% endfor %}

    </table>
    <button id="button" style="margin-top:20px; margin-left:5%;" onclick="window.print();">Print
        Checklist</button>
</form>


{% endblock %}